@import '../../scss/mixins';

.gamesContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    @include container-height;
    align-items: center;
    padding-top: 0;
}

@media (min-width: 700px)
{
    .gamesContainer {
        width: calc(100vw - 280px);
    }
}

@media (min-width: 1700px)
{
    .gamesContainer {
        width: calc(100vw - 310px);
    }
}
