@import '../../scss/mixins';

.gamesContainer {
    @include main-container;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 0;
}

@media (min-width: 700px)
{
    .gamesContainer {
        @include main-container-m;
    }
}

@media (min-width: 1700px)
{
    .gamesContainer {
        @include main-container-l;
    }
}
