@import '../../scss//mixins';

.homeContainer {
    @include page-container
}

.gamesContainer {
    @include main-container;
    display: block;
}

.welcome {
    width: 80%;
    margin: 40px auto;
    font-size: 30px;

    a {
        @include link-text;
    }
}

.gamesDiv {
    width: 80%;
    margin: 30px auto;

    p {
        margin: 0 0 20px 5px;
        font-size: 20px;
    }
}

@media (min-width: 700px)
{
    .gamesContainer {
        @include main-container-m;
    }
}

@media (min-width: 1700px)
{
    .gamesContainer {
        @include main-container-l;
    }
}
