@import '../../scss/variables';
@import '../../scss/mixins';

.gameContainer {
    margin: 10px;
}

.thumbnail {
    width: 240px;
    margin: auto;
    display: block;
}

.button {
    @include button;
    margin: 5px;
}

.leaderboardBtn {
    background-color: $red;
}

.leaderboardBtn:hover {
    background-color: $darkred;
}

.playBtn {
    background-color:  $green;
}

.playBtn:hover {
    background-color:  $darkgreen;
}

@media (min-width: 1700px) {
    .gameThumbnail {
        width: 270px;
    }
}