@import '../../scss/mixins';
@import '../../scss/variables';

.rightbar {
    display: none;
}

.rightbarWrapper {
    padding: 10px;
}

.rightbarTop {
    display: flex;
    padding: 10px;
}

.friendActivityTitle {
    flex: 10;
    font-size: 18px;
    font-weight: 500;
    margin-top: 3px;
    padding-bottom: 10px;
}

.addFriendIcon {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.friendActivityList {
    list-style: none;
    margin-left: -40px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
background-color: rgb(179, 179, 179);
}

@media (min-width: 700px)
{
    .rightbar {
        display: block;
        width: 280px;
        background-color: $grey;
        // box-shadow: 10px 10px 60px 20px #f1f1f1;
        @include container-height;
        overflow-y: scroll;
        position: sticky;
        top: 70px;
    }
}

@media (min-width: 1700px)
{
    .rightbar {
        width: 310px;
    }
}