@import '../../scss/mixins';

.dropdownList {
    ul {
        list-style: none;
        position: absolute;
        top: 67px;
        right: 40px;
        width: 155px;  
    }
    li {
        padding: 8px;
        text-align: center;
        background-color: white;
        cursor: pointer;
    }
    li:hover {
        background-color: rgb(233, 232, 232);
    }
    a {
        @include link-text;
    }
}

