@import '../../scss/variables';
@import '../../scss/mixins';

.selectedGameContainer {
    background-color: rgb(247, 247, 247);
    width: 70%;
    padding: 20px 30px 30px;
    position: absolute;
    top: 25%;
    left: 5%;
    z-index: 2;
}

.thumbnail {
    width: 150px;
    margin: 5px auto 20px;
    display: block;
}

.gameBtns {
    display: flex;
    justify-content: center
}

.button {
    @include button;
    margin: 5px;
}

.cancel {
    color: red;
    background-color: white;
    border-radius: 50%;
    padding: 4px 5px 0;
    margin: 0;
    position: relative;
    top: -26px;
    left: 97%;
    width: fit-content;
}

.leaderboardBtn {
    background-color: $red;
}

.leaderboardBtn:hover {
    background-color: $darkred;
}

.addFavourite {
    background-color: rgb(243, 255, 136);
}

.addFavourite:hover {
    background-color: rgb(232, 243, 130);
}


.playBtn {
    background-color:  $green;
}

.playBtn:hover {
    background-color:  $darkgreen;
}

@media (min-width: 650px) {
    .selectedGameContainer {
        width: 40%;
        left: 30%;
    }

    .thumbnail {
        width: 190px;
    }
}

@media (min-width: 1700px) {
    .gameThumbnail {
        width: 270px;
    }
}