@import '../../scss/variables';
@import '../../scss/mixins';

.navbarContainer {
    height: 70px;
    width: 100%;
    background-color: $green;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}
  
.navbarLeft {
    flex: 9;
}

.logo {
    margin-left: 50px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.navbarCentre {
    display: none;
}

.navbarRight {
    flex: 3;
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

.accountBtn {
    position: relative;
    cursor: pointer;
    color: white;
    background-color: $darkgreen;
    width: 75px;
    border-radius: 40px;
}

.accountProfilePicture {
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin: 5px;
    padding-top: 3px;
}

.accountUsername {
    display: none;
}

.arrow {
    position: absolute;
    right: 5px;
    @include vertically-align;
}

@media (min-width: 500px) {
    .navbarLeft {
        flex: 5;
    }

    .navbarCentre {
        flex: 3;
    }
    
    .navbarRight {
        flex: 4;
        display: flex;
        justify-content: flex-end;
        margin-right: 40px;
    }

    .accountBtn {
        width: 155px;
        border-radius: 40px;
    }

    .accountUsername {
        display: block;
        position: absolute;
        left: 50px;
        font-weight: 600;
        @include vertically-align;
    }

    .arrow {
        left: 130px;
    }
}