@mixin page-container {
    display: flex;
    width: 100%;
}

@mixin main-container {
    width: 100%;
    height: fit-content;
    display: flex;
    @include container-height;
}

@mixin container-height {
    height: calc(100vh - 70px);
}

@mixin main-container-m {
    width: calc(100vw - 280px);
}

@mixin main-container-l {
    width: calc(100vw - 310px);
}

@mixin vertically-align {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin profile-photo {
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin: 5px;
}

@mixin button {
    width: 120px;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 15px;
}

@mixin link-text {
    text-decoration: none;
    color: black;
}